{::comment} 2022-10-29-app-recommendations.md {:/comment}

<div style="border: 1px dotted #b5e853; padding: 1em;">
  <strong style="font-size: 1.2em;">{{ include.name }}</strong>
  <p></p>

  <ul>
    <li>App-ID: {{ include.app_id }}</li>
    <li>URL: <a href="{{ include.url }}">{{ include.url }}</a></li>
    <li>Available in: {{ include.available_in }}</li>
  </ul>
  <p></p>

  {% if include.grant or include.revoke %}
    <strong style="font-size: 1.1em;">Permissions</strong>
    <table style="margin: 0px;">
      <tr>
        <th scope="col" style="width: 50%;">Grant</th>
        <th scope="col" style="width: 50%;">Revoke</th>
      </tr>
      <tr>
        <td>
          <ul>
            {% assign grant = include.grant | split: ";" %}
            {% for perm in grant %}
              <li>{{ perm }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% assign revoke = include.revoke | split: ";" %}
            {% for perm in revoke %}
              <li>{{ perm }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
  {% endif %}
</div>
<p></p>
