<meta name="referrer" content="no-referrer" />
<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
      child-src 'none';
      script-src 'self' 'unsafe-inline';
        script-src-attr 'none';
      connect-src 'none';
      style-src 'self' 'unsafe-inline';
      object-src 'none';
    base-uri 'none';
    form-action 'none';
  " />

<script type="module"
  integrity="sha512-43xR/7oX0dAXN3MQlDRkMOcayARxCTaCb+3EqWNBDYVKyWmx0v6Cx7E8nAYsgB3PNj9ziyJ9o4N0qniqN6DT1Q=="
  crossorigin="anonymous">
    //import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10.9.1/dist/mermaid.esm.min.mjs';
    import mermaid from '{{ site.baseurl }}/assets/js/mermaid-10.9.1/package/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
      startOnLoad: false,
      logLevel: 'error',
      theme: 'dark',
      themeVariables: {
        nodeBorder: '#b5e853',
      },
    });
    await mermaid.run({
      querySelector: '.language-mermaid',
    });
  </script>