<meta name="referrer" content="no-referrer" />
<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
      child-src 'none';
      script-src 'self' 'unsafe-inline';
        script-src-attr 'none';
      connect-src 'none';
      style-src 'self' 'unsafe-inline';
      object-src 'none';
    base-uri 'none';
    form-action 'none';
  " />

<!-- FIXME integrity="sha512-..." -->
<script type="module" crossorigin="anonymous">
  //import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11.5.0/dist/mermaid.esm.min.mjs';
  import mermaid from '{{ site.baseurl }}/assets/js/mermaid-11.5.0/package/dist/mermaid.esm.min.mjs';
  mermaid.initialize({
    startOnLoad: false,
    logLevel: 'error',
    theme: 'dark',
    themeVariables: {
      nodeBorder: '#b5e853',
    },
  });
  await mermaid.run({
    querySelector: '.language-mermaid',
  });
</script>